.broadcast-navbar {
  height: 50px;
  width: 768px;
  list-style-type: none;
  padding: 0;

  .navbar-sendNow {
    position: relative;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    border-bottom: 50px solid $lightColor;
    border-right: 40px solid transparent;
    height: 0;
    width: 384px;
    transition: margin-left 1s ease;
    cursor: $mouse;
    z-index: 2;

    .sendNow {
      transition: all 1s ease;
      padding-left: 110px;
      padding-top: 10px;
    }

  }

  .navbar-schedule {
    position: relative;
    font-size: 21px;
    font-weight: 700;
    color: $darkColor;
    border-top: 50px solid #fff;
    border-left: 40px solid transparent;
    height: 0;
    width: 384px;
    transition: margin-left 1s ease;
    margin-left: 339px;
    margin-top: -50px;
    cursor: $mouse;
    z-index: 2;

    .schedule {
      transition: all 1s ease;
      padding-left: 120px;
      margin-top: -40px;



    }

  }

  .navbar-active {
    position: relative;
    font-size: 21px;
    font-weight: 700;
    color: #fff;
    border-bottom: 50px solid $lightColor;
    border-right: 40px solid transparent;
    height: 0;
    width: 384px;
    transition: margin-left 1s ease;
    margin-left: 0;
    margin-top: -50px;
    z-index: 1;

    .sendNow-active {
      transition: all 1s ease;
      padding-left: 110px;
      padding-top: 10px;

    }

    .schedule-active {
      transition: all 1s ease;
      padding-left: 120px;
      margin-top: -40px;
    }
  }
}